<form class="{{cssClass}} v-sheet" autocomplete="off">

  <div class="v-grid">

    <!-- LEFT: Attributes -->
    <aside class="v-col v-col--left">

      <div class="v-attrgrid">
        {{#each vitruvium.attributes as |a|}}
          <div class="v-attrcard">
            <div class="v-attrcard__label">
              <span class="v-attrcard__icon"><i class="fas {{a.icon}}"></i></span>
              <span class="v-attrcard__text">{{a.label}}</span>
            </div>

            <div
              class="v-attrcard__value"
              role="button"
              title="Нажми чтобы сделать проверку"
              data-action="roll-attribute"
              data-attr="{{a.key}}"
              data-label="{{a.label}}"
            >
              {{a.value}}
            </div>

            <div class="v-attrcard__ctrl">
              <button
                type="button"
                class="v-mini"
                data-action="attr-dec"
                data-attr="{{a.key}}"
              >–</button>
              <button
                type="button"
                class="v-mini"
                data-action="attr-inc"
                data-attr="{{a.key}}"
              >+</button>
            </div>
          </div>
        {{/each}}
      </div>

    </aside>

    <!-- CENTER: Portrait + Rolls + Tabs -->
    <main class="v-col v-col--center">

      <section class="v-hero">
        <div class="v-hero__portrait">
          <img
            class="v-portrait"
            src="{{actor.img}}"
            data-edit="img"
            title="{{actor.name}}"
          />
          <button
            type="button"
            class="v-btn v-btn--ghost"
            data-action="luck-roll"
          >
            Бросок удачи
          </button>
        </div>

        <div class="v-hero__meta">
          <div class="v-namebar">
              <input
                class="v-name"
                type="text"
                name="name"
                value="{{actor.name}}"
                placeholder="Имя персонажа"
              />
            
              <div class="v-lvlmini">
                 <div class="v-lvlmini__label">Ур.</div>
                 <input
                   class="v-lvlmini__input"
                   type="number"
                   name="system.attributes.level"
                   value="{{vitruvium.level}}"
                   data-dtype="Number"
                   min="1"
                   max="99"
                 />
              </div>
          </div>

          <div class="v-resrow">
            <div class="v-res v-res--hp">
              <div class="v-res__label">HP</div>
              <input
                class="v-res__input"
                type="number"
                name="system.attributes.hp.value"
                value="{{vitruvium.hp.value}}"
                min="0"
                data-dtype="Number"
              />
              <div class="v-res__sep">/</div>
              <div class="v-res__max">{{vitruvium.hp.max}}</div>
            </div>

            <div class="v-res v-res--insp">
              <div class="v-res__label">Вдохн.</div>
              <div class="v-res__btns">
                <button
                  type="button"
                  class="v-mini"
                  data-action="insp-dec"
                >–</button>
                <div class="v-res__val">{{vitruvium.inspiration.value}}</div>
                <button
                  type="button"
                  class="v-mini"
                  data-action="insp-inc"
                >+</button>
              </div>
            </div>
          </div>

          <div class="v-compactrow">
            <div class="v-rollbox">
              <div class="v-rollbox__label">Доп. кубы</div>
              <div class="v-rollbox__ctrl">
                <div class="v-rollbox__main">
                  <button
                    type="button"
                    class="v-mini"
                    data-action="extra-dec"
                  >-</button>
                  <div class="v-rollbox__val">{{vitruvium.extraDice}}</div>
                  <button
                    type="button"
                    class="v-mini"
                    data-action="extra-inc"
                  >+</button>
                </div>
                <button
                  type="button"
                  class="v-btn v-rollbox__btn"
                  data-action="extra-roll"
                >Бросить</button>
              </div>
            </div>

            <div class="v-stats3">
              <div class="v-statbox">
                <div class="v-statbox__top">
                  <span class="v-statbox__icon"><i></span>
                  <span class="v-statbox__label">Броня</span>
                </div>

                <div class="v-statbox__readonly">{{vitruvium.armorTotal}}</div>
              </div>

              <div class="v-statbox v-statbox--speed">
                <div class="v-statbox__top">
                  <span class="v-statbox__icon"><i></span>
                  <span class="v-statbox__label">Скорость</span>
                </div>
                <div class="v-statbox__readonly">{{vitruvium.speed}}</div>
              </div>
            </div>
          </div>
        </div>

      </section>

      <section class="v-tabs">
        <input
          type="radio"
          id="v-tab-inv"
          name="v-tabs"
          value="inv"
          class="v-tabs__toggle"
          {{#if (eq vitruvium.activeTab "inv")}}checked{{/if}}
        />
        <input
          type="radio"
          id="v-tab-abi"
          name="v-tabs"
          value="abi"
          class="v-tabs__toggle"
          {{#if (eq vitruvium.activeTab "abi")}}checked{{/if}}
        />
        <input
          type="radio"
          id="v-tab-skill"
          name="v-tabs"
          value="skill"
          class="v-tabs__toggle"
          {{#if (eq vitruvium.activeTab "skill")}}checked{{/if}}
        />
        <input
          type="radio"
          id="v-tab-state"
          name="v-tabs"
          value="state"
          class="v-tabs__toggle"
          {{#if (eq vitruvium.activeTab "state")}}checked{{/if}}
        />

        <div class="v-tabs__nav" role="tablist">
          <label class="v-tabs__tab" for="v-tab-inv" role="tab" data-tab="inv">Инвентарь</label>
          <label class="v-tabs__tab" for="v-tab-abi" role="tab" data-tab="abi">Способности</label>
          <label class="v-tabs__tab" for="v-tab-skill" role="tab" data-tab="skill">Навыки</label>
          <label class="v-tabs__tab" for="v-tab-state" role="tab" data-tab="state">Состояния</label>
        </div>

        <div class="v-tabs__content">
          <section
            class="v-panel v-inv v-tabpanel v-tabpanel--inv"
            id="v-tabpanel-inv"
            role="tabpanel"
          >
            <div class="v-panel__head">
              <div class="v-h2">Инвентарь</div>
              <div class="v-line"></div>
              <button type="button" class="v-btn v-btn--ghost" data-action="create-item">+ Предмет</button>
            </div>

            <div class="v-inv__list">
              {{#each vitruvium.items as |it|}}
                <div class="v-inv__row" data-item-id="{{it._id}}">

                  <!-- Icon (click = weapon attack) -->
                  {{!-- Icon: weapon -> attack, else -> chat --}}
              {{#if it.system.attackBonus}}
                <button
                  type="button"
                  class="v-inv__iconbtn"
                  title="Атака этим оружием"
                  data-action="weapon-attack"
                  data-item-id="{{it._id}}"
                >
                  <img class="v-inv__icon" src="{{it.img}}" alt="{{it.name}}" />
                </button>
              {{else}}
                <button
                  type="button"
                  class="v-inv__iconbtn"
                  title="Показать в чат"
                  data-action="item-chat"
                  data-item-id="{{it._id}}"
                >
                  <img class="v-inv__icon" src="{{it.img}}" alt="{{it.name}}" />
                </button>
              {{/if}}

                  <!-- Name + qty -->
                  <div class="v-inv__name" title="{{it.name}}">
                    <div class="v-inv__title">{{it.name}}</div>
                    <div class="v-inv__meta">×{{it.system.quantity}} · &#1076;. {{#if it.system.actions}}{{it.system.actions}}{{else}}1{{/if}}</div>
                  </div>

                  <!-- Actions -->
                  <div class="v-inv__actions">
                    <!-- Equip toggle -->
                    <button
                      type="button"
                      class="v-inv__a {{#if it.system.equipped}}is-on{{/if}}"
                      title="{{#if it.system.equipped}}Снять{{else}}Надеть{{/if}}"
                      data-action="toggle-equip"
                      data-item-id="{{it._id}}"
                    >
                      <i class="fas fa-shield-alt"></i>
                    </button>

                    <!-- Edit -->
                    <button
                      type="button"
                      class="v-inv__a"
                      title="Редактировать"
                      data-action="edit-item"
                      data-item-id="{{it._id}}"
                    >
                      <i class="fas fa-feather-alt"></i>
                    </button>

                    <!-- Delete -->
                    <button
                      type="button"
                      class="v-inv__a v-inv__a--danger"
                      title="Удалить"
                      data-action="delete-item"
                      data-item-id="{{it._id}}"
                    >
                      <i class="fas fa-trash"></i>
                    </button>
                  </div>

                </div>
              {{/each}}
            </div>
          </section>

          <section
            class="v-panel v-tabpanel v-tabpanel--abi"
            id="v-tabpanel-abi"
            role="tabpanel"
          >
            <div class="v-panel__head">
              <div class="v-h2">Способности</div>
              <div class="v-line"></div>
              <button
                type="button"
                class="v-btn v-btn--ghost"
                data-action="create-ability"
              >+ Способность</button>
            </div>
            <div class="v-inv__list v-abi__list">
              {{#each vitruvium.abilities as |ab|}}
                <div class="v-inv__row v-abi__row" data-item-id="{{ab._id}}">

                  {{!-- Icon click = use ability --}}
                  <button
                    type="button"
                    class="v-inv__iconbtn"
                    title="Использовать способность"
                    data-action="use-ability"
                    data-item-id="{{ab._id}}"
                  >
                    <img class="v-inv__icon" src="{{ab.img}}" alt="{{ab.name}}" />
                  </button>

                  <div class="v-inv__name" title="{{ab.name}}">
                    <div class="v-inv__title">{{ab.name}}</div>
                    <div class="v-inv__meta">ур. {{ab.system.level}} · {{ab.system.cost}} вдохн. · &#1076;. {{#if ab.system.actions}}{{ab.system.actions}}{{else}}1{{/if}}</div>
                  </div>

                  <div class="v-inv__actions">
                    <button
                      type="button"
                      class="v-inv__a {{#if ab.system.active}}is-on{{/if}}"
                      title="{{#if ab.system.active}}Отключить{{else}}Активировать{{/if}}"
                      data-action="toggle-ability-active"
                      data-item-id="{{ab._id}}"
                    >
                      <i class="fas fa-bolt"></i>
                    </button>

                    <button
                      type="button"
                      class="v-inv__a"
                      title="Редактировать"
                      data-action="edit-item"
                      data-item-id="{{ab._id}}"
                    >
                      <i class="fas fa-feather-alt"></i>
                    </button>

                    <button
                      type="button"
                      class="v-inv__a v-inv__a--danger"
                      title="Удалить"
                      data-action="delete-item"
                      data-item-id="{{ab._id}}"
                    >
                      <i class="fas fa-trash"></i>
                    </button>
                  </div>

                </div>
              {{/each}}
            </div>
          </section>

          <section
            class="v-panel v-tabpanel v-tabpanel--skill"
            id="v-tabpanel-skill"
            role="tabpanel"
          >
            <div class="v-panel__head">
              <div class="v-h2">Навыки</div>
              <div class="v-line"></div>
              <button
                type="button"
                class="v-btn v-btn--ghost"
                data-action="create-skill"
              >+ Навык</button>
            </div>
            <div class="v-inv__list v-skill__list">
              {{#each vitruvium.skills as |sk|}}
                <div class="v-inv__row v-skill__row" data-item-id="{{sk._id}}">

                  <button
                    type="button"
                    class="v-inv__iconbtn"
                    title="Показать в чат"
                    data-action="item-chat"
                    data-item-id="{{sk._id}}"
                  >
                    <img class="v-inv__icon" src="{{sk.img}}" alt="{{sk.name}}" />
                  </button>

                  <div class="v-inv__name" title="{{sk.name}}">
                    <div class="v-inv__title">{{sk.name}}</div>
                    <div class="v-inv__meta">пассивно</div>
                  </div>

                  <div class="v-inv__actions">
                    <button
                      type="button"
                      class="v-inv__a"
                      title="Редактировать"
                      data-action="edit-item"
                      data-item-id="{{sk._id}}"
                    >
                      <i class="fas fa-feather-alt"></i>
                    </button>

                    <button
                      type="button"
                      class="v-inv__a v-inv__a--danger"
                      title="Удалить"
                      data-action="delete-item"
                      data-item-id="{{sk._id}}"
                    >
                      <i class="fas fa-trash"></i>
                    </button>
                  </div>

                </div>
              {{/each}}
            </div>
          </section>

          <section
            class="v-panel v-tabpanel v-tabpanel--state"
            id="v-tabpanel-state"
            role="tabpanel"
          >
            <div class="v-panel__head">
              <div class="v-h2">Состояния</div>
              <div class="v-line"></div>
              <button
                type="button"
                class="v-btn v-btn--ghost"
                data-action="create-state"
              >+ Состояние</button>
            </div>
            <div class="v-inv__list v-state__list">
              {{#each vitruvium.states as |st|}}
                <div class="v-inv__row v-state__row" data-item-id="{{st._id}}">

                  <button
                    type="button"
                    class="v-inv__iconbtn"
                    title="Показать в чат"
                    data-action="item-chat"
                    data-item-id="{{st._id}}"
                  >
                    <img class="v-inv__icon" src="{{st.img}}" alt="{{st.name}}" />
                  </button>

                  <div class="v-inv__name" title="{{st.name}}">
                    <div class="v-inv__title">{{st.name}}</div>
                    <div class="v-inv__meta">пассивно</div>
                  </div>

                  <div class="v-inv__actions">
                    <button
                      type="button"
                      class="v-inv__a"
                      title="Редактировать"
                      data-action="edit-item"
                      data-item-id="{{st._id}}"
                    >
                      <i class="fas fa-feather-alt"></i>
                    </button>

                    <button
                      type="button"
                      class="v-inv__a v-inv__a--danger"
                      title="Удалить"
                      data-action="delete-item"
                      data-item-id="{{st._id}}"
                    >
                      <i class="fas fa-trash"></i>
                    </button>
                  </div>

                </div>
              {{/each}}
            </div>
          </section>
        </div>
      </section>
    </main>
  </div>
</form>


