<form class="{{cssClass}} v-sheet v-item" autocomplete="off">

  <!-- Title -->
  <header class="v-item__header">
    <input
      class="v-item__title"
      type="text"
      name="name"
      value="{{item.name}}"
    />
  </header>

  <!-- Body: icon left, description right -->
  <section class="v-item__body">

    <div class="v-item__iconbox">
      <img
        class="v-item__icon"
        src="{{item.img}}"
        data-edit="img"
        title="{{item.name}}"
      />

      <div class="v-item__qty">
        <span class="v-item__qtylabel">Кол-во</span>
        <input
          class="v-item__qtyinput"
          type="number"
          name="system.quantity"
          value="{{system.quantity}}"
          data-dtype="Number"
          min="0"
        />
      </div>
    </div>

    <div class="v-item__descbox">
      <div class="v-item__deschead">
        <div class="v-h2">Описание</div>
        <div class="v-line"></div>
      </div>

      <!-- Read-only view -->
      <div class="v-item__descview" data-role="desc-view">
        {{#if system.description}}
          <div class="v-item__desccontent">{{{vitruvium.descriptionHTML}}}</div>
        {{else}}
          <div class="v-item__descplaceholder">Описание не задано.</div>
        {{/if}}
      </div>

      <!-- Edit view (hidden by default) -->
      <textarea
        class="v-item__descedit"
        name="system.description"
        data-role="desc-edit"
      >{{system.description}}</textarea>

       <div class="v-row v-row--bonuses">
         <div class="v-bonus">
           <div class="v-bonus__label">Бонус атаки</div>
           <input type="number" name="system.attackBonus" value="{{system.attackBonus}}" data-dtype="Number" min="0" max="6">
         </div>
         <div class="v-bonus">
           <div class="v-bonus__label">Бонус брони</div>
           <input type="number" name="system.armorBonus" value="{{system.armorBonus}}" data-dtype="Number" min="0" max="6">
         </div>
       </div>


      <div class="v-item__actions">
        <button
          type="button"
          class="v-btn v-btn--ghost"
          data-action="toggle-desc"
        >
          Редактировать описание
        </button>
      </div>
    </div>

   

  </section>
  
 <div class="v-row">
  <label class="v-check">
    <input type="checkbox" name="system.equipped" {{#if system.equipped}}checked{{/if}}>
    Надето
  </label>
  <label class="v-check">
  <input type="checkbox" name="system.isShield" {{checked system.isShield}}>
  <span>Щит</span>
  <label class="v-check">
  <input type="checkbox" name="system.isHeavyArmor" {{checked system.isHeavyArmor}}>
  <span>Тяжёлые доспехи</span>
</label>
</label>

</div>

</form>